.cards {
    display: flex;
    column-gap: 140px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-image{
    background-color: rgb(171, 245, 245);
    width: 100%;
    margin-bottom: 30px;
  }
  
  .card-body{
    background: white;
    width: 1024px;
    text-align: center;
    height: 576px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
      box-shadow: 0 8px 12px 0 rgb(243, 163, 15);
      transform: scale(1.02);
    }
  }
  .card-body h2, p {
    color: #fff;
  }
  .card-btn {
    width: 150px;
    height: 30px;
    transform: translate(0px, -80px);
    overflow: hidden;
    font-size: sans-serif;
    border: 1px solid #303030;
    cursor: pointer;
    &:hover{
      background: rgb(187, 23, 209);
      color: #fff;
      transition: 200ms ease-in;
    }
    // a:link, &:visited {
    //   color: #fff;
    // }
  }

  

  
@media screen and (max-width: 960px) {
  .card-body{
    background: white;
    width: 350px;
    text-align: center;
    height: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
      box-shadow: 0 8px 12px 0 rgb(243, 163, 15);
      transform: scale(1.02);
    }
  }
  .card-btn {
    background: #fff;
  }
}