*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.App {
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: #303030;
  display: flex;
  flex-direction: column;
}
.App > * {
  flex-grow: 1;
}
.App nav {
  flex-grow: 0;
}
.App footer {
  flex-grow: 0;
}