*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.App {
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: #E8E8E8;
}
