.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    border: 1px solid purple;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.6), rgb(252, 134, 234));
}

.about-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
}

.about-me p {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;

}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}



@media (max-width: 600px) {
    .about-me p {
        font-size: 1.3rem;
    }
    .about-section {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
    .about-section {
        width: 600px;
    }
    footer {
        margin-top: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .about-section {
        width: 600px;
    }
    footer {
        margin-top: 100%;
    }
}
